---
// @ts-ignore
import { Icon } from 'astro-icon';
import dre from '/src/assets/dre.webp?url';
import classen from '/src/assets/classen.webp?url';
import quickstep from '/src/assets/quickstep.webp?url';
import kaindl from '/src/assets/kaindl.webp?url';
import erkado from '/src/assets/logo-erkado.webp?url';
import porta from '/src/assets/porta.webp?url';
import krono from '/src/assets/krono.webp?url';

const partners = [dre, classen, quickstep, kaindl, erkado, porta, krono];
---

<div class='mt-24'>
  <h2 class='text-center text-2xl text-slate-500'>Nasi partnerzy</h2>
  <div class='flex gap-1 items-center justify-around mt-6 flex-wrap px-24'>
    {partners.map((partner) => <img class='h-14 w-auto ' src={partner} />)}
  </div>
</div>
